{{ $image := partial "helper/image" (dict "Image" .Params.image "Resources" .Resources "Context" .) }}
{{ $randomImagePath := "" }}

{{ if not $image }}
    {{ $images := slice "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" }}
    {{ $shuffled := shuffle $images }}
    {{ $randomName := index $shuffled 0 }}
    {{ $randomImagePath = printf "/thumbnails/%s.webp" $randomName }}
{{ end }}

<article class="{{ if $image }}has-image{{ end }}">
    {{ partial "article/components/header" (dict "Page" . "IsList" true "RandomImage" $randomImagePath) }}
</article>
